
Project Magi/Library/ArtifactDB
Project Magi/Library/ArtifactDB-lock
Project Magi/Library/shadercompiler-UnityShaderCompiler.exe0.log
Project Magi/Library/SourceAssetDB
Project Magi/Library/SourceAssetDB-lock
*.log
Project Magi/Library/ArtifactDB
Project Magi/Library/ArtifactDB-lock
Project Magi/Library/shadercompiler-UnityShaderCompiler.exe0.log
Project Magi/Library/SourceAssetDB
Project Magi/Library/SourceAssetDB-lock
